%ul
  - blog.articles.each do |article|
    = link_to article do
      %li.article.rounded
        %h1= article.title
        %h4.black= article.metadata[:page][:desc]
        / .small= article.tags.join(" #")
